.topbar {
  display: flex;
  flex-direction: column;
}

.topbar__header {
  background-color: #004432;
}

.topbar__header-container {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;

  @media screen and (min-width: 860px) {
    width: 860px;
    margin: 0 auto;
  }
}

.topbar__logo {
  height: 2.2em;
  margin-right: 1em;
}

.topbar__title {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
